/*
Template:       This file is specific for projects with DataTables of IT Maniax
Info:           This file will contain ITM classes
Web:            http://www.itmaniax.com
*/
/******************************************************************************/
/************               GENERAL SETTINGS                    ***************/
/******************************************************************************/

table.dataTable {
    max-width: 100% !important;
    width: 100% !important;
}
table.dataTable th,
table.dataTable td {
    overflow-wrap: break-word;
    overflow: hidden;
    vertical-align: middle !important;
}
table.dataTable td img {
    max-width: 200px;
    max-height: 100px;
    margin: 0 auto;
    display: block;
}
/******************************************************************************/
/*********  HEADER  ***********************************************************/
/******************************************************************************/
.main-header {
    position: fixed;
    width: 100%;
}
.main-sidebar {
    position: fixed;
}
.navbar-nav .dropdown {
    padding-right: 15px;
}
/******************************************************************************/
/*********  HOMEPAGE     ******************************************************/
/******************************************************************************/
.content-wrapper {
    margin-top: 50px;
	min-height: calc(100vh - 50px);
}
/******************************************************************************/
/*********  DATATABLES     ****************************************************/
/******************************************************************************/
.buttons-div .btn {
    margin: 2px;
    float: right;
}
/******************************************************************************/
/*********  MODALS	***********************************************************/
/******************************************************************************/
.modal {
    overflow-y: auto;
}
.modal-body {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal button.close {
    color: red;
}
/******************************************************************************/
/*********  LABEL     ****************************************************/
/******************************************************************************/
.required:after {
    content: '*';
    color: red;
}