/*
Template:       This file is specific for projects with DataTables of IT Maniax
Info:           This file will contain ITM classes
Web:            http://www.itmaniax.com
*/
/******************************************************************************/
/************               GENERAL SETTINGS                    ***************/
/******************************************************************************/
table.dataTable {
    max-width: 100% !important;
    width: 100% !important;
}
table.dataTable th,
table.dataTable td {
    overflow-wrap: break-word;
    overflow: hidden;
    vertical-align: middle !important;
}
table.dataTable td img {
    max-width: 200px;
    max-height: 100px;
    margin: 0 auto;
    display: block;
}
.wrapper .content-wrapper {
    min-height: calc(100vh - 57px);
}
/******************************************************************************/
/*********  HEADER  ***********************************************************/
/******************************************************************************/

/******************************************************************************/
/*********  HOMEPAGE     ******************************************************/
/******************************************************************************/

/******************************************************************************/
/*********  DATATABLES     ****************************************************/
/******************************************************************************/
.buttons-div .btn {
    margin: 2px;
    float: right;
}
table.dataTable th.actions,
table.dataTable td.actions {
    overflow: unset;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: calc(50% - 14px/2) !important;
    background-color: var(--theme_color_primary) !important;
}
/******************************************************************************/
/*********  MODALS	***********************************************************/
/******************************************************************************/
.modal {
    overflow-y: auto;
}
.modal-body {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal button.close {
    color: var(--color_danger);
}
/******************************************************************************/
/*********  LABEL     *********************************************************/
/******************************************************************************/
.required:after {
    content: '*';
    color: var(--color_danger);
}
